<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Košík</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Your shopping cart<span th:if="${totalItemsCount} == 0"> - is empty!</span></h1>
    </div>

    <div th:if="${weightNuts} > 0">
        <h1>Produkty od dodavatele Oříšek s.r.o.</h1>
        <h2><a href="/download/1">Stáhnout ceník</a></h2>
        <hr>
        <div th:each="item: ${nutItems}">
            <h2 th:text="${item.getKey().getItemName()}">Item name</h2>
            <h3>Počet:</h3>
            <h4 th:text="${item.getValue()}">Quantity</h4>

            <a th:href="@{'/cart/addItem/' + ${item.getKey().getItemId()}}">Zvýšit počet</a>
            <br>
            <a th:href="@{'/cart/removeItem/' + ${item.getKey().getItemId()}}">Snížit počet</a>
            <hr>
        </div>
        <div>
            <p>Celková váha: <span th:text="${weightNuts}"></span>g</p>
            <p>Celková cena bez DPH: <span th:text="${totalNuts}"></span>,- Kč</p>
            <p>Celková cena s DPH: <span th:text="${totalNutsTax}"></span>,- Kč</p>
        </div>
        <hr>
    </div>

    <div th:if="${weightCountryLife} > 0">
        <br>
        <br>
        <h1>Produkty od dodavatele Country life</h1>
        <h2><a href="/download/2">Stáhnout ceník</a></h2>
        <hr>
        <div th:each="item: ${countryLifeItems}">
            <h2 th:text="${item.getKey().getItemName()}">Item name</h2>
            <h2 th:text="${item.getValue()}">Quantity</h2>

            <a th:href="@{'/cart/removeItem/' + ${item.getKey().getItemId()}}">Snížit počet</a>
            <hr>
        </div>
        <div>
            <p>Celková váha: <span th:text="${weightCountryLife}"></span>g</p>
            <p>Celková cena bez DPH: <span th:text="${totalCountryLife}"></span>,- Kč</p>
            <p>Celková cena s DPH: <span th:text="${totalCountryLifeTax}"></span>,- Kč</p>
        </div>
        <hr>
    </div>


    <div th:if="${totalItemsCount} > 0">
        <a th:href="@{'/cart/checkout'}">Koupit</a>
    </div>
</div>
</body>
</html>