<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/login_layout.html}">
<head>
    <title>Nuts E-Shop Login</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form th:action="@{/loginafter}" th:object="${user}" method="post" id="loginForm">
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="autofocus" th:field="*{email}"/>
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" th:field="*{password}"/>
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <button id="login-submit" class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
            <div class="alert alert-warning" role="alert" th:if="${error != null}">
                <p id="error-message" th:text="${error}"></p>
            </div>
        </div>
    </div>
    <div align="center">
        <h2>Aktuální seznam importovaných ceníků</h2>
        <table cellspacing="5" cellpadding="5" border="0">

        <tr>
            <th>Dodavatel</span></th>
            <th>
                Poslední importovaný ceník
            </th>
            <th>Doprava zdarma</th>
            <th>Email</th>
        </tr>
        <tr th:each="supplier: ${suppliers}"  th:with="
            freeTransport=${supplier.getFreeTransport()},
            supplierId=${supplier.getId()}
            ">
            <td><span th:text="${supplier.getName()}"></span></td>
            <td>
                <a th:text="${supplier.getPricelistName()}" th:href="'/download/' + ${supplier.getId()}"></a>
            </td>
            <td th:text="'od ' + ${freeTransport}"> Kč,- s DPH</td>
            <td><a target="_new"
                          th:href="'mailto:' + ${supplier.getEmail() +
                '?subject=Nová objednávka&amp;body=Dobrý den, objednáváme zboží v příloze. '}"
                          th:text="${supplier.getEmail()}"></a></td>
        </tr>
        </table>
    </div>


</div>
</body>
</html>